@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
  font-family: "Rubik", sans-serif;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
background: #000000;
background: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(26, 26, 26, 1) 26%, rgba(10, 10, 20, 1) 100%);
    padding: 25px;
}

/* Container principal */
.container {
    text-align: center;
    padding: 30px;
    padding-top: 150px;
    width: 100%;
    max-width: 400px;
    background-color: #1e1e1e; /* Fundo do container escuro, um pouco mais claro que o body */
    border-radius: 16px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.5); /* Sombra mais intensa para destacar */
    position: relative;
    overflow: hidden;
}

.banner {
    /* Ajustes para o banner */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

/* Título */
h1 {
    color: #fff; /* Título branco */
    margin-bottom: 30px;
    font-size: 2rem;
    letter-spacing: 1px;
}

/* Lista de links */
.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Botões de link */
.links a {
    display: block;
    text-decoration: none;
    color: #ffffff; /* Texto branco no link */
    border: 2px solid #555555; /* Borda cinza suave */
    background-color: #2c2c2c; /* Fundo do botão escuro */
    padding: 15px 0;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

/* Efeito hover */
.links a:hover {
    background-color: white; /* Fundo azul brilhante no hover para contraste */
    color: #121212;
    border-color: white;
    transform: translateY(-3px);
}

svg {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    fill: #555555;
}

.link-caneco a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.link-caneco img {
    height: 100px;
    border-radius: 15px;
}

/* Responsividade */
@media (max-width: 480px) {
    h1 {
        font-size: 1.6rem;
    }

    .links a {
        font-size: 1rem;
        padding: 12px 0;
    }
}